@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.menu-btn {
  position: absolute;
  z-index: 9999;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 30px;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  z-index: 9999;
  background: white;
  transition: all 0.5s ease-out;
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: translate(0px, -16px) rotate(-45deg);
}

.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: rgba(13.1684210526, 28.5315789474, 24.8736842105, 0.99);
  z-index: 9999;
  list-style: none;
}

.menu-branding {
  margin: 0;
  padding: 0;
  background: rgba(17.8389473684, 38.6510526316, 33.6957894737, 0.6);
}

.menu-side-left {
  bottom: 0;
  left: 0;
}

.menu-side-right {
  top: 0;
  right: 0;
}

.menu-side-right,
.menu-side-left {
  display: none;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 40%;
  height: 100vh;
  overflow: hidden;
}

.portrait {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid 3px #12a3cf;
  display: none;
}

.nav-item {
  transition: all 0.5s ease-out;
}

.nav-link {
  margin: 1rem 0;
  font-size: 30px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.nav-link:hover {
  color: #12a3cf;
}

.show {
  transform: translate3d(0px, 0, 0);
}

.current {
  color: #12a3cf;
}

:root {
  --red: #c3002e;
  --cyan: hsl(180, 62%, 55%);
  --orange: rgb(231, 76, 60);
  --blue: hsl(212, 86%, 64%);
  --purple: #6d429c;
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.row-container {
  display: flex;
  align-items: stretch;
  align-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

#work .attribution {
  font-size: 11px;
  text-align: center;
}
#work .attribution a {
  color: hsl(228, 45%, 44%);
}
#work .box p {
  color: var(--grayishBlue);
}
#work .box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px rgba(0, 0, 0, 0.3098039216);
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  max-width: 310px;
  height: auto;
  justify-content: space-between;
}
#work .box a {
  width: fit-content;
}
#work .box h2 {
  font-family: "Nunito Sans", sans-serif;
}
#work .box h2 a {
  transition: all 150ms ease-in;
}
#work .box h2 a:hover {
  text-decoration: underline;
  color: #0f82a5;
}
#work img {
  align-self: end;
  width: clamp(4rem, 9vw, 5rem);
  max-width: 6rem;
}
@media (max-width: 950px) and (min-width: 450px) {
  #work .box {
    text-align: center;
  }
}
#work .cyan {
  border-top: 3px solid var(--cyan);
}
#work .red {
  border-top: 3px solid var(--red);
}
#work .blue {
  border-top: 3px solid var(--blue);
}
#work .orange {
  border-top: 3px solid var(--orange);
}
#work .purple {
  border-top: 3px solid var(--purple);
}
#work #work h2 {
  color: #e4e4e4;
  font-weight: var(--weight3);
}
#work svg {
  width: 30px;
  height: 30px;
  transition: color 300ms;
}
#work svg:hover {
  color: #bdbdbd;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 39, 34);
  height: 100%;
  color: white;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body #bg-img {
  background: url("../img/backgroundsmall.png");
  background-attachment: fixed;
  background-size: cover;
  min-height: 700px;
  height: 100vh;
  position: relative;
}

.sub-content-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(21.2210526316, 45.9789473684, 40.0842105263, 0.5);
}

a {
  text-decoration: none;
  color: white;
}

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.text-secondary {
  color: #0f82a5;
}

.sub-content-flex > main {
  max-width: 1038px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 2rem;
  min-height: 100vh;
}
main .icons {
  margin-top: 1rem;
  display: inline-block;
}
main .icons a {
  padding: 0.4rem;
  font-size: 2rem;
}
main .icons a:hover {
  color: #0f82a5;
  transition: all 0.5s ease-out;
}
main#home {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
main#home h1 {
  margin-top: 10vh;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bio bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
  max-width: 1000px;
  text-align: left;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.about-info .bio .maface {
  width: clamp(8rem, 19vw, 13rem);
  border-radius: 100%;
  align-self: center;
}
.about-info .job-1 {
  display: flex;
  align-items: center;
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}
.about-info .job {
  background: rgb(26.0526315789, 56.4473684211, 49.2105263158);
  padding: 0.5rem;
  border-bottom: #0f82a5 5px solid;
}

#title {
  border-bottom: 0;
  text-align: center;
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
}
.projects img {
  width: 100%;
  border: 3px #fff solid;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #0f82a5;
  transition: all 0.5s ease-out;
}

.box .btn, .box .btn-light, .box .btn-dark {
  background-color: transparent;
  border: solid white 1px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
}

#reachme {
  min-height: calc(100vh - 60px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.boxes div {
  font-size: 2rem;
  border: 3px white solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
}
.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #0f82a5;
  color: #fff;
}
.boxes div:hover span {
  color: #fff;
}

.contact {
  padding: 10px 0 10px;
  max-width: 600px;
  margin: auto;
}

.contact-form {
  background-color: rgb(24, 51, 45);
  border: rgba(255, 0, 0, 0) solid 1px;
}

#contact-us {
  padding: 20px 10px;
}

.contact-text {
  margin: 45px auto;
}

.mail-message-area {
  width: 100%;
  padding: 0 15px;
}

.mail-message {
  width: 100%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  border-radius: 0;
}

.not-visible-message {
  height: auto;
  opacity: 0;
  margin: 0px 5px 5px 5px;
  background: rgb(26.0526315789, 56.4473684211, 49.2105263158);
  padding: 0.5rem;
  border-left: #0f82a5 5px solid;
}

.visible-message {
  height: auto;
  opacity: 1;
  margin: 25px auto 0;
}

/* Input Styles */
.form {
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  margin-bottom: 25px;
  color: #727272;
  font-size: 13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  background-color: rgb(18, 39, 34);
  transition: all 0.4s;
}

.form:hover {
  border: 1px solid #8bc3a3;
}

.form:focus {
  color: white;
  outline: none;
  border: 1px solid #8bc3a3;
}

.textarea {
  height: 200px;
  max-height: 200px;
  max-width: 100%;
  color: #fff;
  background-color: rgb(18, 39, 34);
}

/* Generic Button Styles */
.btnContainer {
  position: relative;
  padding-bottom: 39px;
}

.button {
  padding: 8px 12px;
  background: #0a5175;
  display: block;
  width: 120px;
  margin: 10px 0 0px 0;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-size: 0.8em;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

#loadingIcon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
  opacity: 1;
  top: 0;
}

.button:hover {
  background: #8bc3a3;
  color: white;
}

/* Send Button Styles */
.form-btn {
  z-index: 999;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  display: block;
  height: auto;
  background: rgb(45, 131, 6);
  padding: 15px;
  color: #fff;
  border: none;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin: auto;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.form-btn:hover {
  background: #12a3cf;
  color: white;
  border: none;
}

.form-btn:active {
  opacity: 0.9;
}

center {
  margin-top: 330px;
}

input {
  position: relative;
  color: white !important;
}

.btn, .btn-light, .btn-dark {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover, .btn-light:hover, .btn-dark:hover {
  background: #0f82a5;
  color: #fff;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: rgb(66.3157894737, 143.6842105263, 125.2631578947);
  color: rgb(26, 26, 26);
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: rgb(1.8947368421, 4.1052631579, 3.5789473684);
  color: rgb(224.2105263158, 240.7894736842, 236.8421052632);
  height: 60px;
}

.hero {
  background-color: rgb(18, 39, 34);
  position: relative;
  font-family: "Montserrat", sans-serif;
  z-index: -1;
}

.cube {
  position: fixed;
  z-index: -1;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px rgb(5.1157894737, 11.0842105263, 9.6631578947);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: rgb(19.25, 166.8333333333, 211.75);
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
  #work .box {
    width: 290px;
  }
}
@media screen and (max-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .menu-branding .portrait {
    width: auto;
    height: 20vh;
    min-height: 90px;
    max-height: 500px;
  }
  main {
    text-align: center;
    align-items: center;
  }
  main .lg-heading {
    margin-top: 50px;
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 4rem;
  }
  .menu-side-left {
    width: 100%;
    height: 30vh;
    bottom: inherit;
    right: 0;
    top: 0px;
  }
  .menu-side-right {
    width: 100%;
    top: 0px;
    bottom: inherit;
    left: 0;
  }
  .nav-link {
    font-size: 24px;
  }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  #work .box {
    width: 500px;
  }
  main#home h1 {
    margin-top: 10vh;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  main {
    padding: 10px;
  }
  main .sm-heading {
    font-size: 1rem;
  }
  main .lg-heading {
    margin-top: 70px;
    font-size: 2.8rem;
  }
  .about-info .bio {
    font-size: 1rem;
  }
}
@media screen and (max-width: 350px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=master.css.map */
