$secondary-color: #12a3cf;



// menu button
.menu-btn {
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 30px;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        z-index: 9999;
        background: white;
        @include easeOut;
    }

    // Rotate Into X with menu lines
    &.close {

        .btn-line {

            // line 1 - rotate
            &:nth-child(1) {
                transform: rotate(45deg);
            }

            // line 2 - rotate
            &:nth-child(2) {
                opacity: 0;
            }

            // line 3 - rotate
            &:nth-child(3) {
                transform: translate(0px, -16px) rotate(-45deg);
            }
        }
    }
}

//Menu overlay

.menu-branding,
.menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.menu-nav {
    margin: 0;
    padding: 0;
    background: rgba(darken($primary-color, 3), .99);
    z-index: 9999;
    list-style: none;
}

.menu-branding {
    margin: 0;
    padding: 0;
    background: rgba(darken($primary-color, 0.1), 0.6);

}

.menu-side-left {
    bottom: 0;
    left: 0;
}

.menu-side-right {
    top: 0;
    right: 0;
}

.menu-side-right,
.menu-side-left {
    display: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 40%; // para dos necesita estar en 50%
    height: 100vh;
    overflow: hidden;
}

.portrait {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid 3px $secondary-color;
    background-image: url('../dist/img/portrait1.jpg');
    display: none;
}

.nav-item {

    // transform: translate3d(600px, 0, 0);
    @include easeOut;

}

.nav-link {

    margin: 1rem 0;
    font-size: 30px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    text-decoration: none;
    @include easeOut;
&:hover{
    color: $secondary-color;

}
}

.show {

    transform: translate3d(0px, 0, 0);

}

.current {   
    color: $secondary-color;
   
}

@for $x from 1 through 4 {

    .nav-item:nth-child(#{$x}) {
        // transition-delay: $x * 0.1s;

    }
}
